.file-container {
  padding: 16px;
}

.file-card {
  width: 90%;
  height: 90%;
  cursor: pointer;
  transition: transform 0.2s;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
}

.file-card:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

mat-card-content {
  width: 100%;
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 100%;
  width: 100%;
}

mat-icon {
  font-size: 48px;
  height: 48px;
  width: 48px;
  margin-bottom: 8px;
}

mat-icon.collection {
  color: #ff7801;
}

mat-icon.note {
  color: #3a53d5;
}

button {
  border: none;
  background: none;
}

button mat-icon {
  color: rgb(58, 83, 213);
  cursor: pointer;
  font-size: 30px;
  height: fit-content;
  width: fit-content;
  margin-top: 10px;
}

button mat-icon.small-icon {
  font-size: 25px;
  height: 25px;
  width: 25px;
}

.item-name {
  font-size: 14px;
  margin-bottom: 4px;
  word-break: break-word;
}

.item-date {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.6);
}

.empty-state {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90%;
  width: 90%;
}

.cdk-program-focused {
  display: none;
}

mat-divider.mat-divider {
  border: 1px solid rgba(0, 0, 0, 0.1);
}
