.editor {
  display: grid;

  grid-template-columns: minmax(10rem, 1fr) 6fr;
  grid-template-rows: 4rem;

  height: 100vh;
}

.header-wrapper {
  grid-column: 1 / -1;
}

.body {
  display: grid;
  grid-template-columns: subgrid;

  grid-column: 1 / -1;
}

.placeholder {
  margin: auto;
  padding-top: 1rem;

  width: fit-content;

  font-weight: bold;
}
