@let workspace = workspace$ | async;
@let note = note$ | async;

@if (workspace) {
  <div class="editor">
    <div class="header-wrapper">
      <app-header [workspace]="workspace" [note]="note" />
    </div>

    <div class="body">
      <app-sidebar [workspace]="workspace" />

      <main class="textarea-wrapper">
        @if (note) {
          <app-textarea [note]="note" />
        } @else {
          <div class="placeholder">
            Select a note to get started
          </div>
        }
      </main>
    </div>
    <button
      style="position: absolute; bottom: 20px; right: 20px"
      mat-fab
      class="add-button"
      (click)="openInviteUserDialog(workspace)"
    >
      <mat-icon>add</mat-icon>
    </button>
  </div>
}
