<div class="login-container">
    <div class="login-box">
      <h1 class="logo">Afkarna<span class="icon">✏️</span></h1>
      <h2 class="login-title">Log in</h2>
      <p class="signup-text">Don't have an account? <a [routerLink]="['/signUp']" routerLinkActive="active" >Sign up</a></p>
      <form (ngSubmit)="onSubmit(loginForm)" #loginForm="ngForm">
        <div class="input-group">
          <label for="email">Your email</label>
          <input
            email
            type="email"
            id="email"
            name="email"
            ngModel
            required
            placeholder="Enter your email"
            #emailInput="ngModel"
          />
          @if (emailInput.invalid && emailInput.dirty) {
            <div class="error-message">Please enter a valid email address</div>
          }
          
        </div>
        <div class="input-group password-group">
          <label for="password">Your password</label>
          <input
          [type]="passwordVisible() ? 'text' : 'password'"
          id="password"
          name="password"
          ngModel
          required
          minlength="8"
          placeholder="Enter your password"
          #passwordInput="ngModel"
        />
        @if(passwordInput.invalid && passwordInput.dirty) {
          <div class="error-message">password must be at least 8 characters long</div>
        }
        <button
          type="button"
          class="toggle-password"
          (click)="togglePasswordVisibility()"
          aria-label="Toggle password visibility"
        >
          <i [class]="passwordVisible() ? 'fa-regular fa-eye-slash' : 'fa-regular fa-eye'"></i>
        </button>
          
        </div>
        <a [routerLink]="['']" routerLinkActive="active"  class="forgot-password">Forgot your password?</a>
        <button type="submit" class="login-btn" [disabled]="!loginForm.valid">
          Log in
        </button>
      </form>
      <div class="illustration">
        <img src="login.png" alt="Login Illustration" />
      </div>
    </div>
  </div>
  