    <div class="home">
      <div class="div">
        <div class="frame">
         <app-navbar></app-navbar>
          <app-first-page></app-first-page>
          <app-features-page></app-features-page>
        <div class="overlap-group">
          <div class="frame-12">
            <div class="frame-13">
              <div class="frame-14">
                <div class="frame-15">
                  <div class="frame-16">
                    <div class="text-wrapper-5">Web design</div>
                    <p class="text-wrapper-6">Web design is a process of making a website for the user.</p>
                  </div>
                  <div class="frame-16">
                    <div class="frame-17">
                      <span class="icon-park--target-one"></span>
                      <div class="text-wrapper-7">Goals</div>
                    </div>
                    <p class="text-wrapper-6">
                      The goal is to make the website easy to use for the user and drive the necessary growth.
                    </p>
                  </div>
                  <div class="frame-16">
                    <div class="frame-17">
                      <span class="fluent-emoji--man-running-medium-light"></span>
                      <div class="text-wrapper-7">What to do?</div>
                    </div>
                    <div class="frame-18">
                      <div class="frame-19">
                        <div class="rectangle"></div>
                        <div class="text-wrapper-8">Conduct Research</div>
                      </div>
                      <div class="frame-19">
                        <div class="rectangle"></div>
                        <div class="text-wrapper-9">Develop wireframes</div>
                      </div>
                    </div>
                  </div>
                </div>
                <span class="streamline-emojis--fountain-pen fountain-pen"></span>                
                
                <div class="frame-20">

                  <div class="frame-21">

                    <div class="titan-one-regular logo ">Write Afkarek</div>
                    <p class="text-wrapper-11">Write any notes you want</p>
                  </div>

                  <button class="frame-22"><div class="text-wrapper-12">Try Now</div></button>
                </div>
              </div>
            </div>
            <div class="frame-23">
              <div class="frame-24">
                <div class="titan-one-regular logo">Afkar from Class</div>
                <p class="text-wrapper-14">Never forget what your teacher says</p>
              </div>
              <div class="frame-25">
                <div class="frame-26">
                  <div class="frame-27">
                    <div class="text-wrapper-15">Math</div>
                    <div class="frame-28">
                      <div class="frame-19">
                        <p class="text-wrapper-9">Basic arithmetic and introduction to variables.</p>
                      </div>
                      <div class="x-y-wrapper">
                        <p class="x-y">x = 20<br />y = -4<br />2x + 3y = ?</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="frame-26">
                  <div class="frame-27">
                    <div class="text-wrapper-15">Physics</div>
                    <div class="frame-16">
                      <p class="text-wrapper-16">
                        Inertia is the natural tendency of objects in motion to stay in motion.
                      </p>
                      <div class="image-wrapper"><span class="image noto--rock"></span></div>
                    </div>
                  </div>
                </div>
              </div>
              <span class="telescope-streamline emojione-v1--telescope"></span>
              <span class="bar-chart-streamline streamline-emojis--bar-chart" ></span>
              <div class="frame-22"><div class="text-wrapper-12">Try Now</div></div>
            </div>
            <span class="arrow fluent--arrow-reply-32-light"></span>
          </div>
          <span class="arrow-2 fluent--arrow-reply-32-light"></span>
        </div>
        
        <div class="frame-32">
          <div class="frame-33">
            <div class="coding"></div>
            <p class="ready-to-take-your">
              <span class="titan-one-regular logo">Ready to take your notes to the next level? </span>
            </p>
          </div>
          <div class="frame-22"><div class="text-wrapper-12">Sign Up</div></div>
        </div>
        <div class="frame-34">
          <div class="frame-35">
            <div class="frame-36">
              <div class="frame-37">
                <div class="frame-37">
                  <p class="text-wrapper-18">/ get in touch /</p>
                  <p class="text-wrapper-19">We are always ready to help you and answer your question</p>
                </div>
                <div class="frame-38">
                  <div class="frame-39">
                    <div class="frame-40">
                      <div class="frame-41">
                        <div class="text-wrapper-20">Call Center</div>
                        <div class="frame-42">
                          <div class="text-wrapper-21">000 987 654 321</div>
                          <div class="text-wrapper-22">+(123) 456-789-876</div>
                        </div>
                      </div>
                    </div>
                    <div class="frame-43">
                      <div class="frame-44">
                        <div class="text-wrapper-23">Email</div>
                        <div class="frame-45"><div class="text-wrapper-24">syahrulmiftahfarid.gmail.com</div></div>
                      </div>
                    </div>
                  </div>
                  <div class="frame-44">
                    <div class="text-wrapper-23">Social Network</div>
                    <div class="social-medias-light">
                      <div class="icon"><img class="img-2" src="./../../../public/icon.png" /></div>
                      <div class="icon"><img class="img-2" src="./../../../public/icon (1).png" /></div>
                      <div class="icon">
                        <div class="img-2">
                          <div class="group"><img class="vector" src="./../../../public/icon (2).png" /></div>
                        </div>
                      </div>
                      <div class="icon"><img class="img-2" src="./../../../public/icon (3).png" /></div>
                      <div class="icon"><img class="img-2" src="./../../../public/icon (4).png" /></div>
                      <div class="icon"><img class="img-2" src="./../../../public/icon (5).png" /></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="frame-46">
                <div class="text-wrapper-25">Get in Touch</div>
                <div class="frame-28">
                  <div class="frame-19">
                    <p class="text-wrapper-9">Tell us your goals and what note taking means to you</p>
                  </div>
                  <div class="frame-47"><div class="text-wrapper-26">Name</div></div>
                  <div class="frame-48"><div class="text-wrapper-27">E-Mail</div></div>
                  <div class="frame-49"><div class="text-wrapper-27">Message</div></div>
                  <div class="frame-50"><div class="text-wrapper-12">Submit</div></div>
                </div>
              </div>
            </div>
          </div>
          <div class="frame-51">
            <p class="text-wrapper-28">Afkarna 2024 All rights reserved.</p>
            <div class="frame-52"><div class="text-wrapper-29">Privacy policy</div></div>
          </div>
        </div>
      </div>
    </div>

