.profile-indicator {
  display: flex;
  place-content: center;

  padding: 0;

  overflow: hidden;

  background: #faf9fd;

  filter: drop-shadow(0 2px 2px #b2b2b2);
}

.placeholder {
  place-self: center;
}

.profile-picture {
  width: 100%;
  height: 100%;

  object-fit: cover;
}
