<div id="features" class="frame-23">
  <div class="frame-24">
    <div class="div">
      <div class="div-2">
        <div class="div-3">
          <span class="streamline-emojis--fountain-pen fountain-pen"></span>
          <div class="titan-one-regular logo">Write AfkarKom</div>
          <p class="text-wrapper-11">Share notes with your loved ones</p>
          <div class="picture feature-doc"></div>
        </div>
      </div>
      <div class="section-picture-docs"></div>
    </div>
    <img class="arrow-2" src="arrowTwo.png" />
  </div>
</div>
