<div id="contact" class="frame-34">
  <div class="frame-35">
    <div class="frame-36">
      <div class="frame-37">
        <div class="frame-37">
          <p class="text-wrapper-19 titan-one-regular logo">
            We are always ready to help you and answer your question
          </p>
        </div>
        <div class="frame-38">
          <div class="frame-39">
            <div class="frame-40">
              <div class="frame-41">
                <div class="text-wrapper-20">Call Center</div>
                <div class="frame-42">
                  <div class="text-wrapper-21">000 987 654 321</div>
                  <div class="text-wrapper-22">+(123) 456-789-876</div>
                </div>
              </div>
            </div>
            <div class="frame-43">
              <div class="frame-44">
                <div class="text-wrapper-23">Email</div>
                <div class="frame-45">
                  <div class="text-wrapper-24">
                    syahrulmiftahfarid.gmail.com
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="frame-44">
            <div class="text-wrapper-23">Social Network</div>
            <div class="social-medias-light">
              <div class="icon">
                <img class="img-2" src="icon.png" />
              </div>
              <div class="icon">
                <img class="img-2" src="icon (1).png" />
              </div>
              <div class="icon">
                <div class="img-2">
                  <div class="group">
                    <img
                      class="vector"
                      src="icon (2).png"
                    />
                  </div>
                </div>
              </div>
              <div class="icon">
                <img class="img-2" src="icon (3).png" />
              </div>
              <div class="icon">
                <img class="img-2" src="icon (4).png" />
              </div>
              <div class="icon">
                <img class="img-2" src="icon (5).png" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="frame-46">
        <div class="text-wrapper-25">Get in Touch</div>
        <div class="frame-28">
          <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
            <div class="frame-19">
              <p class="text-wrapper-9">
                Tell us your goals and what note taking means to you
              </p>
            </div>
            <div class="input-group">
              <label for="name">Full Name</label>
              <input
                type="text"
                id="name"
                formControlName="name"
                placeholder="Enter your full name"
              />
            </div>
            <div class="input-group">
              <label for="email">Email</label>
              <input
                type="email"
                id="email"
                formControlName="email"
                placeholder="Enter your email"
              />
            </div>
            <div class="input-group">
              <label for="message">Message</label>
              <input
                type="message"
                id="message"
                formControlName="message"
                placeholder="Enter your message"
              />
            </div>
          
            <button
            type="submit"
            class="submit-btn"
            [disabled]="!contactForm.valid"
            (click)="onSubmit()"
          >
            Submit
          </button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="frame-51">
    <p class="text-wrapper-28">Afkarna 2024 All rights reserved.</p>
    <div class="frame-52">
      <div class="text-wrapper-29">Privacy policy</div>
    </div>
  </div>
</div>