.frame-32 {
    display: flex;
    flex-direction: column;
    width: 800px;
    align-items: center;
    position: absolute;
    left: 330px;
  }
  
.frame-33 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }
  .ready-to-take-your {
    position: relative;
    align-self: stretch;
    font-weight: 400;
    color: transparent;
    font-size: 64px;
    text-align: center;
    letter-spacing: 0;
  }
  .logo {
    font-size: 2.5rem;
    color: #3a53d5;
    display: inline-block;
    position: relative;
  }
  .frame-22 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 16px 28px;
    position: relative;
    flex: 0 0 auto;
    background-color: #FF7801;
    border-radius: 100px;
    border: 1.5px solid;
    border-color: #4d2114;
    box-shadow: var(--bt);
  }
  .text-wrapper-12 {
    position: relative;
    width: fit-content;
    margin-top: -1.50px;
    font-family: "Red Hat Display-Bold", Helvetica;
    font-weight: 700;
    color: #FFFFFF;
    font-size: 20px;
    letter-spacing: 0;
    line-height: 28px;
    white-space: nowrap;
  }  
  .coding {
    position: relative;
    width: 600px;
    height: 470px;
    background-image: url(./../../../../public/coding.png);
  }