<div class="home">
<div class="div">
<div class="overlap-group">
    <div class="frame-12">
      <div class="frame-13">
        <div class="frame-14">
          <div class="frame-15">
            <div class="frame-16">
              <div class="text-wrapper-5">Web design</div>
              <p class="text-wrapper-6">Web design is a process of making a website for the user.</p>
            </div>
            <div class="frame-16">
              <div class="frame-17">
                <span class="icon-park--target-one"></span>
                <div class="text-wrapper-7">Goals</div>
              </div>
              <p class="text-wrapper-6">
                The goal is to make the website easy to use for the user and drive the necessary growth.
              </p>
            </div>
            <div class="frame-16">
              <div class="frame-17">
                <span class="fluent-emoji--man-running-medium-light"></span>
                <div class="text-wrapper-7">What to do?</div>
              </div>
              <div class="frame-18">
                <div class="frame-19">
                  <div class="rectangle"></div>
                  <div class="text-wrapper-8">Conduct Research</div>
                </div>
                <div class="frame-19">
                  <div class="rectangle"></div>
                  <div class="text-wrapper-9">Develop wireframes</div>
                </div>
              </div>
            </div>
          </div>
          <span class="streamline-emojis--fountain-pen fountain-pen"></span>                
          
          <div class="frame-20">
            <div class="frame-21">
              <div class="titan-one-regular logo ">Write Afkarek</div>
              <p class="text-wrapper-11">Write any notes you want</p>
            </div>
            <button class="frame-22"><div class="text-wrapper-12">Try Now</div></button>
          </div>
        </div>
      </div>
      <div class="frame-23">
        <div class="frame-24">
          <div class="titan-one-regular logo">Afkar from Class</div>
          <p class="text-wrapper-14">Never forget what your teacher says</p>
        </div>
        <div class="frame-25">
          <div class="frame-26">
            <div class="frame-27">
              <div class="text-wrapper-15">Math</div>
              <div class="frame-28">
                <div class="frame-19">
                  <p class="text-wrapper-9">Basic arithmetic and introduction to variables.</p>
                </div>
                <div class="x-y-wrapper">
                  <p class="x-y">x = 20<br />y = -4<br />2x + 3y = ?</p>
                </div>
              </div>
            </div>
          </div>
          <div class="frame-26">
            <div class="frame-27">
              <div class="text-wrapper-15">Physics</div>
              <div class="frame-16">
                <p class="text-wrapper-16">
                  Inertia is the natural tendency of objects in motion to stay in motion.
                </p>
                <div class="image-wrapper"><span class="image noto--rock"></span></div>
              </div>
            </div>
          </div>
        </div>
        <span class="telescope-streamline emojione-v1--telescope"></span>
        <span class="bar-chart-streamline streamline-emojis--bar-chart" ></span>
        <div class="frame-22"><div class="text-wrapper-12">Try Now</div></div>
      </div>
      <span class="arrow fluent--arrow-reply-32-light"></span>
    </div>
    <span class="arrow-2 fluent--arrow-reply-32-light"></span>
  </div>
</div>
</div>