.header {
  display: flex;
  gap: 0.5rem;

  height: 100%;
  width: 100%;

  place-items: center;

  background: #f4f4f4;
}

.logo {
  margin-inline: 1rem;

  width: 8rem;
  height: fit-content;

  object-fit: contain;

  cursor: pointer;
}

.names {
  display: flex;
  flex-direction: column;

  gap: 0.25rem;

  box-sizing: border-box;
  height: 100%;

  padding-block: 0.5rem;
}

.name {
  margin: 0;
}
