.header {
  display: flex;
  gap: 0.5rem;

  height: 100%;
  width: 100%;

  place-items: center;

  background: #d7e3ff;
}

.logo {
  margin-inline: 1rem;

  width: 8rem;
  height: fit-content;

  object-fit: contain;

  cursor: pointer;
}

.names {
  display: flex;
  flex-direction: column;

  flex: 1;

  gap: 0.25rem;

  box-sizing: border-box;
  height: 100%;

  padding-block: 0.5rem;
}

.name {
  margin: 0;
}

.buttons {
  padding: 0.5rem 1rem;

  display: flex;

  place-items: center;

  gap: 1rem;
}

.communication-buttons {
  display: flex;

  gap: 0.25rem;
}

.communication-button {
  color: rgb(58, 83, 213);

  aspect-ratio: 1;
  scale: 0.9;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 32rem;
  border: 2px solid rgba(58, 83, 213, 0.5);

  cursor: pointer;
}

.add-button {
  color: rgb(58, 83, 213);

  aspect-ratio: 1;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 36px;

  border-radius: 8px;
  border: 2px solid rgba(58, 83, 213, 0.5);

  cursor: pointer;
}

.add-button:disabled {
  background-color: rgba(58, 83, 213, 0.2);
  color: rgba(58, 83, 213, 0.5);

  border-color: rgba(58, 83, 213, 0.2);

  cursor: not-allowed;
}
