<h2 mat-dialog-title>Invite User</h2>

<form [formGroup]="inviteUserForm" (ngSubmit)="onSubmit()">
  <mat-dialog-content>
    <mat-form-field class="form-field" appearance="fill">
      <mat-label>User Email</mat-label>
      <input matInput formControlName="email" required />
      @if (inviteUserForm.get("email")?.hasError("required")) {
        <mat-error> Email is required. </mat-error>
      }
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-button (click)="onCancel()">Cancel</button>
    <button mat-raised-button color="primary" type="submit">
      Invite
    </button>
  </mat-dialog-actions>
</form>
